src/Geology_V3.0_00.gpkg
doc/V3_0/Kopie_Schema_DM_Geol_SOLL_210923_ama.xlsx
doc/V3_0/220422_Traduction_all_fr_annexes_C_dmGeology.xlsx
doc/V3_0/GeologyModelLookUp_V3_0_Tecto_gelöscht.xml
doc/V3_0/Anhang_C1-C4
doc/V3_1/Kopie_Schema_DM_TopGIS_220525.xlsx
doc/V3_1/Kopie_Korrelation_Konzeptuell_Logisch_FGDB.xlsx
doc/V3_1/220601_entfernte_Werte_Überführung_V3_1.txt
db/Geology_V3_0.qgs
db/Geology_V3_0_00.gpkg
