src/Geology_V3.0_00.gpkg
doc/Kopie_Schema_DM_Geol_SOLL_210923_ama.xlsx
doc/220422_Traduction_all_fr_annexes_C_dmGeology.xlsx
doc/GeologyModelLookUp_V3_0_Tecto_gelöscht.xml
db/Geology_V3_0.qgs
db/Geology_V3_0_00.gpkg
